---
interface Props {
	count?: number;
}

const { count = 25 } = Astro.props;
const rainbows = Array.from({ length: count });
---

<div class="rainbow-bg" aria-hidden="true">
	{rainbows.map(() => <div class="rainbow"></div>)}
	<div class="h"></div>
	<div class="v"></div>
</div>
