.form {
	display: flex;
	flex-flow: column nowrap;
	padding: 34px;
	gap: 12px;
}

.nameRow {
	display: flex;
	flex-flow: row nowrap;
	gap: 12px;
}

.nameRow > * {
	flex: 1;
	min-width: 0;
}

@media screen and (max-width: 760px) {
	.form {
		padding: 0px;
		gap: 20px;
	}

	.nameRow {
		flex-direction: column;
		gap: 20px;
	}
}
